@media all and (min-width: 600px) {
  .button {
  background: url(images/black-circle.png) no-repeat
}
}

@media all and (min-width: 600px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .button {
  background-image: url(images/black-circle@2x.png);
  background-size: 24px auto
}
}